@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, rgba(217, 168, 20, 0.550), rgba(217, 146, 13, 0.550));
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(166, 98, 15, 0.726);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A6620F;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(166, 98, 15, 0.726);
}

h2 {
    color: #404040;
}

p {
    text-align: justify;
}