@charset "UTF-8";

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 37px;
}

p {
    text-align: left;
}

.p2 {
    text-align: right;
}

.p3 {
    text-align: center;
}

.p4 {
    text-align: justify;
}