@charset "UTF-8";
/*Regra @charset caso haja problemas com acentuação */

body {
    background-color: lightgoldenrodyellow;
    color: darkred;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: goldenrod;
    color: maroon;
    text-decoration: underline;
}

p {
    text-align: justify;
    color: maroon;
}

.link-conteiner {
    text-align: right;
}