@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Berkshire+Swash&family=Noto+Sans+JP:wght@100..900&family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Viga&display=swap');

@font-face {
    font-family: 'idroid2';
    src: url('fontes/idroid.otf'), format('opentype');
    font-weight: normal;
    font-style: normal;
    color: #185A36;
}

* {
    font-size: 19px;
}

body {
    margin: 0px;
    background-color: #84E1AD;
}

header {
    background-image: linear-gradient(to bottom, #3CD782, #1D683F);
    text-align: center;
    box-shadow: 4px 2px 10px 1px black;
}

#bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 43px;
  font-optical-sizing: auto;
  margin: 0px;
  padding: 25px;
  color: white;
  text-shadow: 2px 1px 0px black;
}

header > p {
  color: white;
  text-shadow: 2px 1px 0px black;
  margin-top: 0px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}

h2 {
    font-size: 32px;
    text-indent: 8px;
}

h3 {
    font-size: 24px;
    text-indent: 15px;
    background-image: linear-gradient(to right, #CCF3DD, #ffffff);
}

p {
    text-indent: 30px;
}

.idroid2 {
    font-family: idroid2, sans-serif;
    font-weight: bold;
}

.color {
    color: #185A36;
}

nav {
    text-align: left;
    padding: 8px;
}

#a {
    text-decoration: none;
    margin: 2px 10px 2px 2px;
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
}

article {
    width: 1443px;
    margin: auto;
    padding: 8px 10px 20px 18px;
    border-style: hidden;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 0px 4px black;
    background-color: #ffffff;
}

#article {
    margin: 0px;
    border-width: 1000px;
    border-radius: 10px;
}

div {
    background-color: #2FA866;
    border-radius: 20px 20px 0px 0px;
    padding: 10px;
    color: #ffffff;
}

aside {
    background-color: #C5EBD6;
    border-radius: 20px;
    width: 1430px;
}

.image {
    display: block;
    margin: auto;
}

#image {
    display: block;
    margin: auto;
}

video {
    width: 1450px;
    margin-bottom: 15px;
}

li {
    text-decoration: underline;
}

footer {
    background-color: #1A5C38;
    text-align: center;
    color: #FFFFFF;
    border-style: solid;
    border-color: #1A5C38;
    margin-top: 20px;
}