@charset "UTF-8";

* {
    section {
        height: 400px;
        font-size: 50px;
    }
}

.white {
    background-color: white;
}

#img1 {
    background-color: black;
    background-image: url(../imagens/background001.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

#img2 {
    background-color: black;
    background-image: url(../imagens/background002.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: left center;
}

.p {
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
}